
<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="../css/styles.css">
        <link rel='icon' href='/img/weather.png'>
        <body>
            <div class="main-content">
                {{>header}}
                <p>This was created by me. It uses data from mapbox.com and darksky.net!</p>
                <img class = 'portrait'src='../img/me.jpg'>
            </div>
            {{>footer}}
        </body>
    </head>
</html>

{{!-- once we make about hbs page we can delete staic html page if not needed --}}